.App {
  text-align: center;
}

.header{
  background: #AB2A19;
  height: 80px;
  display: flex;
}

.logo {
  padding-left: 36%;
}

.header p {
  margin: 0;
  padding: 1em;
}

.shelf_container {
  height: 100vh;
  width: 100vw;
  background: #e2e0e0;
  margin: 0;
  padding: 0 35%;
}

.shelf_container p {
  margin-bottom: 10;
  padding: 16px 0;
  height: 2em;
  background: #D34735;
  width: 22em;
}

.shelf {
  height: 95%;
  width: 95%;
  background: #c2c0c0;
  margin-left: 20px;
}

.bin_container {
  height: 100vh;
  width: 90%;
  background: #e2e0e0;
  margin:0;
}


.bin_contents {
  height: 75%;
  background: #c2c0c0;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.bin_container3 p{
  margin:0;
}
